<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="images and links to work">
    <meta name="author" content="Tessa Reed">
    <title>Work</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
</head>

<body>
<!-- Page Content -->
<div class="container">
  <h1 class="my-4 text-center text-lg-left">Code Projects</h1>
  <p>
    <li> Experience in front-end technologies:
    CSS/HTML, Bootstrap </li>

    <li> Experience in back-end technologies:
    Ruby on Rails, JavaScript, NodeJS, React </li>

    <li> Experience in using the following tools:
    Sketch, figma, Axure RP, Heroku and Final Cut Pro</li></p>
</div>

<div class ="bg-pink">
<div class="container">

  <h6> Brief </h6>
  At Coder Academy we were given two weeks to complete a rails two-sided market place.
  This time frame includes the ideation, planning and building the rails application.
  Recognising the importance of detailed planning I used the first week to create user stories, my ERD, Wireframes and mock designs. I then used the second week to code the app. </p>

     <%= image_tag "brainihack.png", style: 'width: 300px;' %>
  <p> Brain-i-hack is an online platform that connects hackathon hosts and hackathon participators in a two sided market-place. A user can sign up and join a hackathon, as well as create their own hackathons for others to join. Each hackathon presents a reward, this reward is won by one team and the reward is split equally between the three members and paid by the hackathon creator.
  Each Hackathon is built up of teams, the hackathon creator assigns the team names for their hackathons, creating various empty teams. A user then can browse Hackathons and teams and choose a team according to which role they want to participate in the hackathon as, this can be one of ‘Hustler, Hipster or Hacker’.
  A user can communicate with their other team members through direct messaging on the app, a hackathon participator is rewarded by the hackathon creator through the app.
  Brain-i-hack is an online platform that allows individuals from all over to collaborate and solve complex problems presented by the world’s most innovative companies.
  The hackathon participators benefit from this as they can win rewards, meet new people and become known to leading companies in the tech industry.
  The companies benefit from this service as they can crowd-source various ideas and solutions to their challenges. More brains, more ideas more exiting and innovative solutions.</p>

  <h6> Features included </h6>
  <li> Image uploading </li>
  <li> Search engine </li>
  <li> Internal messaging </li>
  <li> Create profile/hackathons.</li>
  <li> View location on google map. </li>
  <br>
  <%= link_to 'Please See Brain-i-hack', 'https://brainihack.herokuapp.com' %> </p>


  <%= link_to 'Please See my Github for Brain-i-hack and more coding projects.', 'https://github.com/TessaReed/Brainihack' %> </p>

</div>


  <div id="cta">
      <div class="wrapper">
          <h3>Get in Touch.</h3>
          <p>Please get in touch would love to hear from you.</p>
          <a href="/home/contact" class="button-2">Contact Me!</a>
      </div>
  </div>
</div>
</body>
