<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="images and contact form">
    <meta name="author" content="Tessa Reed">
    <title>Work</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
</head>

<body>
<!-- row and two columns  -->
<div class="container">
  <!-- <h1 class="my-4 text-center text-lg-left">CONTACT ME</h1> -->
  <div class ="row">
      <div class="col-md-5">
        <%= image_tag("contact.png", :alt => "rss feed", :class => "contact-image") %>
      </div>

    <div class="col-md-5">
      <br>
      <br>
      <br>
      <br>
    <h1> tessareed@live.co.uk </h1>

    </div>
  </div>
</div>


<!-- get in contact! cta-->
<div id="cta">
  <div class="wrapper">
    <h3>Thank You</h3>
    <p>Looking forward to being in contact.</p>
    <a href="/" class="button-2">Home</a>
  </div>
</div>
</body>
