
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="personal portfolio">
    <meta name="author" content="Tessa Reed">
    <title>Portfolio</title>
    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Amatic+SC', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  </head>
</html>
<body>
<!-- navbar here -->

<!-- video here -->
  <%= video_tag(["small.mp4"],
  size: "320x240",
  autoplay: true,
  loop: true,
  controls: true,
  autobuffer: true,
  class: "video") %>


<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Tessa Reed </h1>
    <p class="lead">UX/Marketing/Web Dev Student</p>
  </div>
</div>


  <div id="card_about">
    <h4>About me</h4>
    <p>Tessa Reed graduated from Edinburgh University in 2016 with a Masters of Arts with Honours in Archaeology and Social Anthropology. From studying,  Tessa grew passionate about digital anthropology, which focuses on the relationship between humans and digital-era technology. To follow these interests, she has worked in Sydney at an Experience Design company where she developed her skills in UX research. Currently, Tessa is doing a fast track coding bootcamp at Coder Factory Academy in Sydney. Tessa is ambitious and hopes to take these skills to be involved in projects that benefit other people’s lives, whether it’s a small impact like making people laugh to bigger impacts like solving social issues. That is what really motivates Tessa.
    </p>
  </div>


<!-- three icons of contact -->
<div class ="bg-pink">
<div class ="container">
<div class="card-deck">
  <div id ="card" class="card">
    <div class="card-block">
      <h4 class="card-title">PORTFOLIO</h4>
      <p>Please see my portfolio.</p>
      <div class="button">
      <a href="/home/work" class="button">See Now</a>
    </div>
  </div>
</div>
  <div id="card" class="card">
    <div class="card-block">
      <h4 class="card-title">LINKEDIN</h4>
      <p>Please see my portfolio.</p>
      <a href="https://www.linkedin.com/in/tessa-reed-529876136/?ppe=1" class="button">See Now</a>
    </div>
  </div>
  <div id="card" class="card">
    <div class="card-block">
      <h4 class="card-title">GITHUB</h4>
      <p>Please see my portfolio.</p>
      <a href="https://github.com/TessaReed" class="button">See Now</a>
    </div>
  </div>
</div>
</div>


<br>

<!-- get in contact! cta-->
<div id="cta">
    <div class="wrapper">
        <h3>Heard Enough?</h3>
        <p>Get in touch with me, that would be fab.</p>
        <a href="/home/contact" class="button-2">Contact Me!</a>
    </div>
</div>
</body>
