<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="images and links to work">
    <meta name="author" content="Tessa Reed">
    <title>Work</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
</head>

<body>
<div class="container">
<h1 class="my-4 text-center text-lg-left">Radio</h1>
</div>
<div class ="bg-pink">

  <div class="container">

    <p> Pedestrian traffic lights depicting female figures are being installed in Melbourne's CBD as part of a lobby group's push for gender equality.
      Will a triangle dress on a traffic light help combat a culture of sexism?
      Because girls also wear pink heels, obv. We put pink heels on street signs in Sydney and asked pedestrians their opinions on 'female' street signs. </p>

  <p> Please click the image to view a film I made for Backchat radio program on FBI radio. </p>
  </div>

  <%= link_to "https://vimeo.com/208105086"  do %>
     <%= image_tag "fbi.png", class: "col-lg-3 col-md-4 col-xs-6" %>
  <% end %>

<div id="cta">
    <div class="wrapper">
        <h3>Heard Enough?</h3>
        <p>Get in touch with me, that would be fab.</p>
        <a href="/home/contact" class="button-2">Contact Me!</a>
    </div>
</div>
</div>
</body>
