<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="images and links to work">
    <meta name="author" content="Tessa Reed">
    <title>Work</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
</head>

<body>
<div class="container">
<h1 class="my-4 text-center text-lg-left">UX</h1>
</div>
<div class ="bg-pink">

<div class="container">
  <h6> UX Research Project </h6>
  <p> I was contracted by DIJGTAL for a large property development and experience design validation project. This research project was initiated to increase the confidence of stakeholders when making decisions regarding Rich St, soon to be built in Sydney.
  I was hired to validate the vision for Rich St as a creative hub and mixed-use precint. This included identifying the types of companies that might be suitable as tenants. Understanding what might attract these companies and validating solution concepts that were designs of possible features of Rich St. </p>

  <h6> My Role </h6>
  <p> I assisted the UX lead at DIJGTAL to validate the vision for Rich St. The vision for Rich St was to build a creative hub and mixed-use precinct in Marrickville, Sydney. </p>

  <h6>Process</h6>
  <p>To validate our hypothesis we used the Lean UX research framework and design thinking methods.
  My role in the Lean UX process was to conduct short interviews. I also contributed in synthesising interview responses and determining whether our hypothesis was valid. I researched and drew parallels with similar precincts in the world, to further validate our hypothesis.</p>

  <h6> The Result </h6>
  <p>Our research and findings were presented to the Danias management team in an easily digestible 45-page document.
    Please see a screenshot of how we presented our findings bellow. Our validation of the concept being a successful creative hub was approved and accepted by the Danias management team. It is very much the first of its kind in Sydney. </p>

      <div class="row">
         <div class="col">
           <%= image_tag("danias.png", :class => "danias_image") %>
           <p> Media coverage. <%= link_to 'Link to article', 'https://www.domain.com.au/news/timber-yard-business-proposes-major-creative-arts-hub-for-marrickville-20171117-gzlwpq/' %> </p>
         </div>
         <div class="col">
             <%= image_tag("danias_findings.png", :class => "danias_image") %>
             <p> Screenshot of how we presented our research </p>
         </div>
       </div>

  <h6> What I learnt </h6>
  <li>Leased with client to carry out an in-depth value proposition.</li>
  <li>How to make ecosystem maps & personas. </li>
  <li>Lean UX and design thinking methodologies to test hypothesis. </li>
  <li>How to write and carry out extensive interviews in person and over the phone.</li>
  </p>
</div>
<div id="cta">
    <div class="wrapper">
        <h3>Get in Touch.</h3>
        <p>Please get in touch would love to hear from you.</p>
        <a href="/home/contact" class="button-2">Contact Me!</a>
    </div>
</div>
</div>
</body>
